#console {
    font-size: 10pt;
    font-family: 'fira code';
    height: 100%;
    padding: 1rem;
}

.accord {
    display: flex;
    align-items: center;
    height: 24px;
}

.hider {
    margin-left: 5px;
}

.grip {
    margin-top: -2px;
    margin-right: 5px;
}

.animate {
    animation-name: inf;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes inf {
    to {
        stroke-dashoffset: 0;
    }
}