#console {
    font-size: 16px;
    font-family: 'fira code';
    height: 100%;
    padding: 1rem;
    cursor: default;
    background-color: #202b37;
    height: 600px;
    overflow-y: auto;
    color: white;
    line-height: 1.6;
}

.accord {
    display: flex;
    align-items: center;
    height: 24px;
}

.hider {
    margin-left: 5px;
}

.grip {
    margin-top: -2px;
    margin-right: 5px;
}

.animate {
    animation-name: inf;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.collapse {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: opacity 0.5s ease-in-out;
}

.collapse>em {
    max-width: 100%;
}

.expandable {
    transition: max-height 0.5s ease;
    max-height: 0;
    overflow: hidden;
    box-sizing: content-box;
}

@keyframes inf {
    to {
        stroke-dashoffset: 0;
    }
}